APP_ENV=local
APP_DEBUG=true
PROJECT_NAME="MicroPHP Application"
API_SERVICE_ENABLED=true
PAGE_ACCESS_MODE=both

DB_DRIVER=sqlite
DB_DSN=
DB_PATH=database/library.db
DB_HOST=localhost
DB_PORT=
DB_NAME=microphp
DB_USER=
DB_PASS=
DB_AUTH_SOURCE=

VIEW_CACHE_TRUST=false
